
body.home{
    margin: 0;
    padding: 0;
    background-color: rgb(40, 190, 228);
    font-family: $font__main;
    height: 500vh;
    width: 100vw;
    overflow-x: hidden;

    #primary{
        width: 100vw;
        margin-left: 0;
    }
}


body.home::after{
    position: absolute;
    width: 100%;
    height: 500vh;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: -1;
    clip-path: polygon(100% 57%, 62% 100%, 100% 100%);
    @include media-desktop{
        clip-path: polygon(84% 0, 100% 0, 100% 100%, 64% 100%);
    }
}

body{
.site-title{
    font-size: clamp(1.2rem, #{"-0.875rem + 8.333vw"}, 4rem);
    margin-bottom: 0;
    a{
        text-decoration: none;
        font-weight: bold;
    }
}
}
.site-description{
    font-size: clamp(.9rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    margin-top: 0;
}

.accueil{
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.2rem); 
    list-style-type: none;   
}
/* liste des blocs de cours par type de cours */
.home .cours{
    display: flex;
    flex-direction: column;

    section{ 
        display: flex;
        flex-direction: row;
       
        
        article{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #aaa;
            //width: 90%;
            margin: 1%;

        
            p{
                margin: .4rem;
                font-size: 1rem;
            }
            a{
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    @include media-tablet{
        article{
            width: 45%;
            margin: 1%;
        }

    }
    @include media-desktop{
        article{ 
        width: 29%;
        margin: 1%;
        }
     
    }
}

// <651 article -> column
@media (max-width: 650px){
    article{ 
        width: 90%;     
        }
}
//add color
//section:nth-of-type(1){
    //article{
        //background-image: linear-gradient(rgb(247, 156, 156), lightblue);
    //}
//}
//section:nth-of-type(2){
    //article{
      //  background-image: linear-gradient( to bottom right, rgb(236, 53, 114), yellow);  
   // }
//}
//section:nth-of-type(3){
    //article{
        //background-image: linear-gradient( rgb(142, 242, 179), rgb(244, 74, 181));  
   // }
//}
//section:nth-of-type(4){
    //article{
        //background-image: linear-gradient(to left, rgb(142, 145, 242), rgb(41, 161, 174), yellow);  
    //}
//}
//section:nth-of-type(5){
    //article{
       // background-image: linear-gradient( rgb(242, 142, 234),pink, rgb(64, 201, 64));  
    //}
//}