
body.home{
    margin: 0;
    padding: 0;
    background-color: rgb(40, 190, 228);
    font-family: $font__main;
    height: 500vh;
    width: 100vw;
    overflow-x: hidden;

    #primary{
        width: 100vw;
        margin-left: 0;
    }
}


body.home::after{
    position: absolute;
    width: 100%;
    height: 500vh;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: -1;
    clip-path: polygon(100% 57%, 62% 100%, 100% 100%);
    @include media-desktop{
        clip-path: polygon(84% 0, 100% 0, 100% 100%, 64% 100%);
    }
}

body{
.site-title{
    font-size: clamp(1.2rem, #{"-0.875rem + 8.333vw"}, 4rem);
    margin-bottom: 0;
    a{
        text-decoration: none;
        font-weight: bold;
    }
}
}
.site-description{
    font-size: clamp(.9rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    margin-top: 0;
}

.accueil{
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.2rem); 
    list-style-type: none;   
}
/* liste des blocs de cours par type de cours */
.home .cours{
    display: flex;
    flex-direction: column;

    section{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        article{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #aaa;
            //width: 90%;
            margin: 1%;
        
            p{
                margin: .4rem;
                font-size: 1rem;
            }
            a{
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    @include media-tablet{
        article{
            width: 45%;
            margin: 1%;
        }

    }
    @include media-desktop{
        article{ 
        width: 29%;
        margin: 1%;
        }
     
    }
}
@media (max-width: 600px){
    article{ 
        width: 90%;     
        }
}
