.carrousel{
 display: flex;
 width: 300vw;
 height: 20vh;
 transition: transform 5s;
 z-index: -1;

    div{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
   
    &:nth-of-type(1){
        background-color: aqua;
    }
    &:nth-of-type(2){
        background-color: blueviolet;
    } 
    &:nth-of-type(3){
        background-color: darksalmon;
    } //fin du div
}
}
.button_carrousel{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
 
    a{
        width: 1.5rem;
        height: 1.5rem;
        margin: 1rem;
        padding: 0.5rem;
        background-color: rgb(220, 196, 230);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
}