.carrousel{
 display: flex;
 width: 300vw;
 height: 20vh;
 transition: transform 5s;

    .slider_conteneur{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        .slider{
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            img{
               display: block;
               margin: 2%;
            }
            .slider_info{
                display: flex;
                flex-direction: column;
                p{
                    font-size: .8rem;
                }   
                a{
                    font-size: 1.2rem;
                    text-decoration: none;
                } 
            }
        }
   
    &:nth-of-type(1){
        background-color: aqua;
    }
    &:nth-of-type(2){
        background-color: blueviolet;
    } 
    &:nth-of-type(3){
        background-color: darksalmon;
    } //fin du div
}
}
.button_carrousel{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
 
    a{
        width: 1.5rem;
        height: 1.5rem;
        margin: 1rem;
        padding: 0.5rem;
        background-color: rgb(220, 196, 230);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
}