.bloc{
    flex-wrap: wrap;
}

.carrousel-2{
 display: flex;
 width: 600vw;
 height: 50vh;
 transition: transform 5s;
 flex-wrap: nowrap;

article{
    background-color: aqua;
}
    .slider_conteneur{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        .slider{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @include media-tablet {
                &{
                    width: 60%;
                }
            }
            img{
               display: block;
               margin: 2%;
            }
            .slider_info{
                display: flex;
                flex-direction: column;
                p{
                    font-size: .8rem;
                }   
                a{
                    font-size: 1.2rem;
                    text-decoration: none;
                } 
            }
            &:nth-of-type(1){
                background-color: aqua;
            }
            &:nth-of-type(2){
                background-color: blueviolet;
            } 
            &:nth-of-type(3){
                background-color: darksalmon;
            }
        }
   
   
}
}


.ctrl-carrousel{
    display: flex;
    justify-content: center;
    width: 100vw;
    .rad-carrousel{
        margin: .5rem 2rem .5rem 2rem;
        display: block;
    }
}

section:nth-of-type(3) {  
    article{
        background-image: linear-gradient(rgb(247, 156, 156), lightblue);
    }
} 

section:nth-of-type(4){
    article{
        background-image: linear-gradient( to bottom right, rgb(236, 53, 114), yellow);  
    }
}
section:nth-of-type(5){
    article{
        background-image: linear-gradient( rgb(142, 242, 179), rgb(244, 74, 181));  
    }
}
section:nth-of-type(6){
    article{
        background-image: linear-gradient(to left, rgb(142, 145, 242), rgb(41, 161, 174), yellow);  
    }
}
section:nth-of-type(7){
    article{
        background-image: linear-gradient( rgb(242, 142, 234),pink, rgb(64, 201, 64));  
    }
}