a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.main-navigation{ 
a {
	color: $color__linkmenu;

	&:visited {
		color: $color__link-visitedmenu;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hovermenu;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
}

.site-title{ 
	a {
		color: $color__linktitle;
	
		&:visited {
			color: $color__link-visitedtitle;
		}
	
		&:hover,
		&:focus,
		&:active {
			color: $color__link-hovertitle;
		}
	
		&:focus {
			outline: thin dotted;
		}
	
		&:hover,
		&:active {
			outline: 0;
		}
	}
	}